<header class="main-header">
  <nav class="navbar header-nav navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h4 class="mb-0">
          Shin <span class="text-primary">Zhang</span>
        </h4>
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-toggle">
        <ul class="navbar-nav mx-auto">
          <li>
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li>
            <a href="#about" class="nav-link">About me</a>
          </li>
          <li>
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li>
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li>
            <a href="#skills" class="nav-link">Skills</a>
          </li>
          <li>
            <a href="#portfolio" class="nav-link">Portfolio</a>
          </li>
        </ul>
      </div>

      <div class="ms-auto d-none d-lg-block">
        <a class="colored-btn" href="#contact">Contact Now</a>
      </div>

      <%# 移动端导航栏按钮 %>
      <button class="navbar-toggler collapsed" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapse-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
